.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f36f3f;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo-img {
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .nav-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.5rem;
  }
  
  .nav-links a:hover {
    color: #ffeedd;
  }